.Product {

    border:2px solid red;
    border-radius: 20px;
    height:300px;
    width:650px;
    background-color:cornflowerblue;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(22, 80, 80);
    
}